
/*@import '../node_modules/bulma';*/


  html, body, #app {
  min-height: 100vh;           /* full viewport height */
  background-color: #F5F5F5; /* soft white */
  color: #333;
}

.buttons{
  display: flex;
  gap: 15px;
  
}

/* Style ONLY the button divs */
.btn {
  display: inline-block;
  margin: 10px;
  padding: 14px 30px;
  font-size: 22px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  box-shadow: 0 4px 15px rgba(37, 99, 235, 0.4);
  transition: all 0.3s ease;
}

/* Hover effect */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.6);
}

/* Click effect */
.btn:active {
  transform: scale(0.97);
}

/* Header full screen */
.top-header {
  height: 120px;
  background: linear-gradient(135deg, #D8B4FE, #818CF8);
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 700;
  font-size: 20px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.red-letter {
  color: #2b2b2b;
}

.brand {
  font-family: 'Pacifico', cursive;        /* Fun, handwritten style */
  font-size: 4rem;                         /* Big header */
  color: #F3E8FF;                          /* Soft, pale lavender */
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2); /* Soft shadow for depth */
}

.brand img {
  width: 100px;
  height: auto;
}

/* Optional: separate styling if you want emphasis */
.brand-book {
  color: #ffffff;
}

.brand-hub {
  color: #ffffff;
  margin-left: 0.2em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Segoe UI', sans-serif;
}

/* Icon */
.logo-icon {
  font-size: 22px;
}

/* Text */
.logo-text {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Styling parts */
.logo-read {
  color: #ffffff;
}

.logo-space {
  color: #E9D5FF; /* soft purple accent */
  margin-left: 2px;
}



.logout-icon{
  max-width: 240px;
  height: 55px;
}

.logout-button{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon-logout{
  color:blue;
}

.main-nav{
  display: flex;
  flex-wrap: wrap;



}


.quote {
  font-size: 24px;
  font-style: italic;
  color: #2b2b2b;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;

  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}


.author {
  display: block;
  margin-top: 10px;

  font-size: 14px;
  color: #e63946; /* modern red */

  font-style: normal; /* remove italic if quote is italic */
  font-weight: 600;

  letter-spacing: 1px; /* spacing between letters */
  text-transform: uppercase; /* ALL CAPS look */
}



.search-container{
  max-width: 700px;
  margin: 35px auto 0 auto;
  transform: translateX(80px);
}

.user-username{
  margin-top: 5px;
}


.username-photo{
  margin-top: 5px;
  display: flex;
}

.username-photo-container-main{
  position: relative;
  width: 240px;
}

.message-pop-out{

  /*background-color: #E9D5FF; */ 
  /*background-color: #F3F4F6;  */
  background-color: #DBEAFE; 
  padding: 15px 25px;               /* space around text */
  border-radius: 8px;               /* rounded corners */
  box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* subtle shadow */
  font-family: sans-serif;          /* clean font */
  font-size: 18px;                  /* readable size */
  font-weight: bold;                /* stand out */
  text-align: center;               /* center the text */
  max-width: 90%;                   /* prevent too wide */
  word-wrap: break-word;            /* wrap long text */
    position: fixed;
  z-index: 7;
    top:50px;
  text-align: center;
  padding: 125px;
}



.message-pop-out-basket{
  background-color: #ccffcc;
/*   border: solid red;*/
  width: 100%;
  margin: auto;
  top:50px;
  text-align: center;
  padding: 25px;
  position: fixed;
  z-index: 7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation-name: homepics;
}

.message-payment{
  background-color: #ccffcc;
/*   border: solid red;*/
  width: 100%;
  height: 180px;
  margin: auto;
  top:50px;
  text-align: center;
  padding: 25px;
  position: fixed;
  z-index: 7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.basket-paragraf-price{
/*   border:solid;*/
  margin-left: 5px;
}

.remove-button-basket{
  margin-left: 3px;
}

.basket-items{
  display: flex;
  justify-content: space-between;
  margin:3px auto;
  width: 90%;

}

.total-to-pay{
  text-align: center;
  margin: auto;
}

.popout-basket{
  max-width: 370px;
  min-width: 350px;
  max-height: 800px;
  min-height: 370px;
  margin-top:1px;
/*   margin-left: -120px;*/
  border: solid 3px #005c99;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 3) 0px 5px 20px;
  z-index: 5;
  overflow: scroll;
/*   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.popout-basket-button{
  position: sticky;
  top: 0;
  z-index: 30;
}

.basket-items-container{
  margin-top: 5px;
/*   border:solid;*/
}

.basket-icon h1 {
  margin-left: 5px; /* increase or decrease this value */
}

.popout-basket-image{
  width: 70px;
}

.basket-icon{
  display: flex;
  margin-top: 8px;
}

.basket-container{
/*   border: solid;*/
  margin-left:20px;
}

.nav-container{
  width: 100%;
  /*background-color: #E9D5FF;*/
  background-color: #FBCFE8; 
  position: sticky;
  top: 0;
  z-index: 20;
  /*border: solid;*/
}


.my-nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 65px;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  background-color: #FBCFE8; 
  /*border: solid;*/
  /*background: linear-gradient(135deg, #F472B6, #FBCFE8);*/

}



.my-nav-link{
  margin-left: 10px;
  padding-right:10px ;
  padding-left:10px ;
  padding-top: 17px;
/*   border: solid red;*/
  height: 100%;
/*   width: 100%;*/
}

.my-nav-link:hover {
  background-color: white;
}

.navbar-link:hover{
  background-color: white;
}

.my-nav-link-dropdown{
  padding-top: 17px;
}













@media only screen and (max-width: 800px) {
  .popout-basket{
    max-width: 350px;
    min-width: 300px;
    max-height: 800px;
    min-height: 370px;
    margin-top:1px;
    margin-left: -120px;
    border: solid 3px #005c99;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 20px;
    z-index: 5;
    overflow: scroll;
/*    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  }

  .basket-items{
    display: flex;
    margin:3px auto;
    width: 90%;

}

  .popout-basket-image{
    width: 70px;
  }

  .basket-icon{
    display: flex;
/*     border: solid;*/
    margin-top: 8px;
  }

  .basket-container{
    margin-left:20px;

  }



}






@media only screen and (max-width: 668px) {
  .popout-basket{
    max-width: 350px;
    min-width: 300px;
    max-height: 800px;
    min-height: 370px;
    margin-top:1px;
    margin-left: -240px;
    border: solid 3px #005c99;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 20px;
    z-index: 5;
    overflow: scroll;
  }

  .basket-items{
    display: flex;
    margin:3px auto;
    width: 90%;

}

  .popout-basket-image{
    width: 70px;
  }

  .basket-icon{
/*     display: block;*/
    display: flex;
/*     border: solid;*/
    margin-top: 8px;
  }

  .basket-container{
/*     border: solid;*/
    margin-left:20px;

  }



}









@media only screen and (max-width: 446px) {
  .popout-basket{
    max-width: 350px;
    min-width: 300px;
    max-height: 800px;
    min-height: 370px;
    margin-top:1px;
    margin-left: 10px;
    border: solid 3px #005c99;
    border-radius: 0px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 20px;
    z-index: 5;
    overflow: scroll;
/*     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  }

  .basket-items{
    display: flex;
    margin:3px auto;
    width: 90%;

}

  .popout-basket-image{
    width: 70px;
  }

  .basket-icon{
    display: flex;
/*     border: solid;*/
    margin-top: 8px;
  }

  .basket-container{
/*     border: solid;*/
    margin-left:20px;
/*       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/

  }

}
