<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your blog-vue application" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title>Blog Vue</title>

    <!-- Preload critical assets for faster loading -->
    <link rel="preload" href="/static/vue/js/chunk-vendors.7761c97e.js" as="script" />
    <link rel="preload" href="/static/vue/js/app.1f2d7c94.js" as="script" />
    <link rel="preload" href="/static/vue/css/app.135b1e3e.css" as="style" />

    <!-- Styles -->
    <link rel="stylesheet" href="/static/vue/css/app.135b1e3e.css" />

    <!-- Scripts -->
    <script defer src="/static/vue/js/chunk-vendors.7761c97e.js"></script>
    <script defer src="/static/vue/js/app.1f2d7c94.js"></script>
  </head>

  <body>
    <noscript>
      <strong>
        We're sorry but Blog Vue doesn't work properly without JavaScript enabled.<br />
        Please <a href="https://enable-javascript.com/">enable JavaScript</a> to continue.
      </strong>
    </noscript>

    <div id="app"></div>
  </body>
</html>