{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Blog</title>

  <!-- Vue CSS -->
  <link rel="stylesheet" href="{% static 'css/app.f5edad0b.css' %}">
  <link rel="stylesheet" href="{% static 'css/about.6dbc2e44.css' %}">
</head>
<body>
  <div id="app"></div>
  <h1>HELLO WORLD</h1>

  <!-- Vue JS -->
  <script src="{% static 'js/chunk-vendors.f0851b81.js' %}"></script>
  <script src="{% static 'js/app.5b9ecf86.js' %}"></script>
  <script src="{% static 'js/about.0a2524c5.js' %}"></script>
</body>
</html>